"""
A list of all DBs to merge.
You can supply following keys:
db, host, user, password
  
All missing keys will be filled with a corresponding value from common_data
"""

merged_dbs = [
    {'db': 'origin1'},
    {'db': 'origin2'},
]

main_db = 'origin1'

"""
DB where all data will be inserted.
This script assumes that all tables are already created.
"""
destination_db = {
    'db': 'target'
}

"""
Information schema data - needed to map indexes, foreign keys etc
"""
information_schema = {
    'db': 'information_schema'
}

"""
Data common for all the database connections.
If there are none - just leave this empty
"""
common_data = {
    'host': '',
    'user': '',
    'password': ''
}

"""
A value used to increment PKs before moving data.
One million is usually enough, however i any of your databases contains
values higher than that - just increase it
"""
increment_step = 1000000

"""
If you have big tables you can define custom increments for these tables.
The script assumes that these PK are not used as FK in any table, if not you
can not use these solution and need to set a bigger increment_step
"""
custom_increment_step = [
	{'table': '', 'value':}
]

"""
Whether to display or not most useful information
"""
verbose = True

"""
List of tables to copy directly from main DB
"""
exclude_tables = [
]

"""
List of queries to execute against each database before
any processing is performed
"""
preprocess_queries = [
]

"""
List of queries to execute against destination database before
the processing is performed
"""
preprocess_queries_target = [
]

"""
List of queries to execute against destination database after
the processing is performed
"""
postprocess_queries_target = [
]

"""
Map FKs. Example:
fk_mapping = [
    {'table': 'my_table', 'fields': ['field1', 'field2']},
]
The script will increment the fields in the table with the general increment_step value.
"""
fk_mapping = [
    {'table': '', 'fields': []},
]
